# requirements for package development and CI

## install the present package (in editable state)
-e .

## documentation generator
sphinx
### document MATLAB code (optionally)
sphinxcontrib-matlabdomain

## automated tests (optionally)
pytest
### run mypy type checker as part of the test suite
### (makes sense if you use Python type annotations)
pytest-mypy
